<h1>Your Short URLs</h1>

<!-- Adding the Login Form -->
<% if (!user) { %>
  <li><a href="http://localhost:8080/register">For new Users - Click here to Register</a></li>
  <li><a href="http://localhost:8080/login">Click here to Login</a></li>

  </form>
  <%  } else { %>
  <p>Hello, <%= user.email %></p>
    <form method="POST" action="/logout">
    <input type="submit" value="logout">
  </form>
  <% }; %>
