<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>tinyApp</title>
</head>

<body>
  <h1>TinyApp</h1>

<!-- Adding the Login Form -->
<% if (!user) { %>
  <li><a href="http://localhost:8080/register">For new Users - Click here to Register</a></li>

  </form>
  <%  } else { %>
  <p>Hello, <%= user.email %></p>
    <form method="POST" action="/logout">
    <input type="submit" value="logout">
  <% }; %>
  </form>
<body>


