<h1>Your Short URLs</h1>

<!-- Adding the Login Form -->
<% if (!username) { %>
  <form method="POST" action="/login">
    <input name="username" type="text" placeholder="enter your username" style="width: 280px">
    <input type="submit" value="submit">
  </form>
  <%  } else { %>
  <p>Hello, <%= username %></p>
  <% }; %>
