<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
<h1>Your Short URLs</h1>
<h2>Registration Page</h2>
<!-- Modify your registration form so that it POSTs to /register. -->

<form method="POST" action="/register">
  <input name="email" type="email" placeholder="enter your username" style="width: 280px">
  <input name="password" type="password" placeholder="enter your password" style="width: 280px">
  <input type="submit" value="submit">
</form>


</body>
</html>
