<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
    <!-- display the following: A list or table of the URLs and their shortened forms.-->

  <ul>
    <% for (i in urls){ %>
      <li><%= i%>&#8594;<a target="_blank" href="<%= urls[i]%>"><%= urls[i]%></a></li>
    <% }%>
  </ul>

  <!-- Add link for shortening a new URL (this will be a dead link for now, that is it doesn't need to go anywhere since you'll be building its functionality later) -->

  <li><a href="http://localhost:8080/urls/">Click here to shorten a new URL </li>

</body>

</html>