<!DOCTYPE html>
<html lang="en">

<head>
  <title> Tiny App </title>
</head>

<body>
     <% include partials/_header %>

    <!-- Fill out the urls_show.ejs template to display the following:
      The full URL and its shortened form. -->
    <ul>
      <p><%=longURL%> : <%=shortURL%></p>
    </ul>

</body>
</html>