<!DOCTYPE html>
<html lang="en">

<head>
  <title> Tiny App </title>
</head>

<body>
    <!-- Fill out the urls_show.ejs template to display the following:
      The full URL and its shortened form. -->
    <h3><%=longURL%> : <%=shortURL%></h3>

</body>
</html>