<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create new short URL</title>
</head>
<body>
    <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <h2>Get a short URL</h2>
     <!-- basic form page that we will use to submit URLs to be shortened. -->
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>